services:
  mysql:
    image: mysql:8.0
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: minfo
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    image: minfo-app:1.0
    container_name: minfo-container
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:8080"
    restart: always

volumes:
  mysql_data:
